//Primary//
$clr-brightOrange: hsl(31, 77%, 52%);
$clr-darkCyan: hsl(184, 100%, 22%);
$clr-veryDarkCyan: hsl(179, 100%, 13%);

//Neutral//
//Paragraphs//
$clr-transparentWhite: hsla(0, 0%, 100%, 0.75);

//Background, Headings, Buttons//
$clr-veryLightGrey: hsl(0, 0%, 95%);


